$font-color: #444
$foreground-color: #2196f3
$background-color: #414141
@import "src/assets/style/public"
#profile-container
  font-size: 15px
  color: $font-color
  margin-bottom: 30px
  // 74 = menubarHeight(70px) + menubarShadowWeight(4px)
  min-height: calc(100vh - 74px)
#header
  width: 100%
  height: 300px
  overflow: hidden
  #header-edit
    position: absolute
    width: 40px
    height: 40px
    background-color: white
    z-index: 10
    text-align: center
    line-height: 40px
    border-radius: 8px
    margin-top: 10px
    right: 20px
    border: solid #d4d4d4
    font-size: 1rem
    transition: transform .3s ease-in-out , right .3s ease-in-out , width .3s ease-in-out , height .3s ease-in-out
    overflow: hidden
    &.disable
      animation: jump 1.2s ease-in-out 1
      font-size: 1.1rem
    &:active
      font-size: 1rem
    #edit-container
      clear: both
    #header-edit-btn
      cursor: pointer
      width: 40px
      height: 40px
      float: right
    #header-edit-btn:hover .menu-icon.close
      transition: transform .2s ease-in-out
    #header-edit-btn:hover .menu-icon.close
      transform: scale(1.3) rotate(180deg)
  #header-edit.active
    z-index: 12
    width: calc(100vw - 60px)
    max-width: 1200px
    height: 80vh
    transform: translateX(50%)
    right: 50%
    position: fixed
    border: none
    &:hover
      font-size: 1rem
      animation: none
    #header-edit-btn
      margin: 5px 5px 0 auto
  #banner
    position: relative
    transform: translate(-50%,-50%)
    top: 50%
    left: 50%
  #avatar
    position: absolute
    border-radius: 50%
    top: 300px
    transform: translate(-50%, calc(-50% + 75px))
    left: 50%
    width: 180px
    height: 180px
    overflow: hidden
    border: solid #fff 5px
    transition: transform 0.3s ease-in-out , border 0.3s ease-in-out
    cursor: pointer
    &:hover
      transform: translate(-50%, calc(-50% + 75px)) scale(1.1)
      border: solid #fff 3px
    & #avatar-edit
      position: absolute
      width: 100%
      top: 200px
      text-align: center
      transition: top .3s ease-in-out
      color: white
      background-color: rgba(0,0,0,.3s)
      padding: 10px 0
      font-size: 1rem
    &:hover #avatar-edit
      top: 140px
    img
      width: 100%
      height: 100%
#user
  margin-top: 100px
  text-align: center
  width: 100%
  & + hr
    margin: 15px auto
    width: 80vw
    max-width: 1000px
  #nickname
    font-size: 2rem
  #username
    margin-top: 10px
    font-size: 1.2rem
    color: lighten($font-color,15%)
    &::before
      content: '@'
#content
  width: 80vw
  max-width: 1000px
  margin: 0 auto
  #content-footer
    #page-btn
      display: flex
      justify-content: center
      #page-previous,#page-number,#page-next
        display: inline-block
        border: none
        margin: 0 10px
        padding: 0
        outline: none
        background-color: #e9e9e9
        height: 30px
        text-align: center
        font-size: 1.2rem
      #page-number
        border-radius: 5px
        margin: 0
        width: 50px
        padding: 10px 8px
        appearance: none
        box-sizing: border-box
        &::-webkit-inner-spin-button
          appearance: none
      #page-previous,#page-next
        width: 30px
        border-radius: 50%
        line-height: 30px
        transition: background-color .2s ease-in-out
        cursor: pointer
        &:hover
          background-color: rgba(0,0,0,.2)
    #page-count
      margin: 10px 0
      text-align: center
  #title
    font-size: 2rem
    color: $foreground-color
  #posts
    position: relative
    margin: 15px 0
    .post
      word-break: break-all
      padding: 20px
      margin: 25px 0
      transition: box-shadow 0.3s ease-in-out
      @include base-container
      .post-option
        right: 15px
        position: absolute
        span
          @include btn-post-option
      .post-title
        font-size: 1.5rem
        margin-bottom: 10px
        a
          color: #404040
          text-decoration: none
      .post-detail
        span:not(:last-child)
          margin-right: 15px
        & + hr
          margin: 15px 0
      .post-footer
        margin-top: 15px
        text-align: right
        a.post-more
          @include button
          margin: 0 !important
          padding: 10px 20px
          text-decoration: none
          transition: text-shadow .3s ease-in-out
          display: inline-block
@keyframes jump
  0%
    transform: scale(1)
  25%
    transform: scale(.8)
  50%
    transform: scale(1.2)
  100%
    transform: scale(1)
